
<h1>User profile</h1>

<table class="table">
  <thead>
    <tr>
      <th>email</th>
      <th>legal name</th>
      <th>birthday</th>
      <th>location</th>
      <th>education</th>
      <th>occupation</th>
      <th>bio</th>
      <th>specialty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@user.email%></td>
      <td><%=@user.profile.legal_name%></td>
      <td><%=@user.profile.birthday%></td>
      <td><%=@user.profile.location%></td>
      <td><%=@user.profile.education%></td>
      <td><%=@user.profile.occupation%></td>
      <td><%=@user.profile.bio%></td>
      <td><%=@user.profile.specialty%></td>
    </tr>
  </tbody>
</table>
